/*--------------shared style----------*/

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    padding:16px 28px;
    background-color: var(--praimery-color);
    color:#fff;
    border: none;
    border-radius: 28px;
}
:root{
    --praimery-color:#FF42A5;
    --secondery-color:#534C64;
}

/*-----------nav------------*/
.navbar{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px 0;
}
nav{
    padding: 0 180px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-text{
    font-size: 3rem;
     font-weight: 700;
}
.G-latter{
    color:var(--praimery-color)
}
nav > ul{
    display: flex;
    gap:2rem;
    align-items: center;
}
nav li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.flow-on{
    background-color: #0b02231a;
    padding: 15px 20px;
    border-radius: 8px;
}
.flow-on a{
    text-decoration: none;
    margin-left: 5px;
}
.flow-on .fa-youtube{
    color:#CD201F;
}

.flow-on .fa-tiktok{
    background: linear-gradient(#08FFF9, #F00044, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*---------------banner-----------------*/
  .banner-left{
    width: 50%;
    background-image: url('/images/Group\ 14.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-container{
    display: flex;
   
  }
 .banner-text{
    padding-left: 180px;
    margin-top: 70px;
   
 }
 .play{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
 }
 .goat{
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .banner-text p{
    font-size: 1.2rem;
    color:var(--secondery-color);
    margin-top: 15px;
 }
 .banner-text p i{
    margin-right: 10px;
    color: var(--praimery-color);
 }
 .btn-secondery{
    font-size: 1rem;
    font-weight: 600;
    padding:16px 28px;
    background-color: #4EC5F7;
    color:#fff;
    border: none;
    border-radius: 28px;
    margin-top: 20px;
    margin-left: 10px;
 }

 .banner-img{
    width: 50%;
    padding-right: 180px;
 }
 .banner-img img{
    width: 100%;
 }

 /*-----------------gamer----------------*/
  .gamer{
      background-color: #ff42a508 ;
  }
  .game-container{
    padding: 50px 180px;
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  .left-bar{
    width: 50%;
  }
  .left-bar img{
    width: 100%;
  }
  .right-bar{
    width: 50%;
    text-align: right;
  }
  .right-bar h2{
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .right-bar .disc{
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    color:var(--secondery-color);
  }
  .right-bar .quote{
    margin-top: 1.2rem;
    font-size: 1.2rem;
    color:var(--secondery-color);
  }
  .quote small{
    color: #757477;
    font-size: 14px;
  }
  /*-------------------online game----------------*/
  .online-game{
    padding: 50px 180px;
    text-align: center;
  }






  /*--------------------responsive----------------*/
    
  @media screen and (max-width:576px) {
    .navbar{
        box-shadow: none;
        padding: 25px 0;
    } 
    nav{
        padding: 0 40px;
    }
    nav
    {
        text-align: center;
    }
    nav .logo{
        margin-bottom: 2rem;
    }

    nav, nav > ul,
    .banner-container{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img,
    .banner-left{
        width: 100%;
     }
     .banner-img{
        padding: 0 40px;
     }
     .banner-text{
        padding: 0 40px;
       
       
     }
  }